.about-me {
  width: 100%;
}
.about-me h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 15px;
  color: #2e2e2e;
}
.container-about-me {
  width: 90%;
  margin: 15px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}
.item-about-me h3 {
  color: #bc994b;
  font-weight: 700;
}
.item-about-me p {
  color: #585858;
  text-align: justify;
  margin: 7px auto;
}
.item-about-me img {
  max-width: 100%;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}
@media (min-width: 768px) {
  .about-me {
    width: 100%;
  }
  .about-me h2 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 15px;
    color: #2e2e2e;
  }
  .container-about-me {
    width: 90%;
    margin: 15px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .item-about-me h3 {
    color: #bc994b;
    font-weight: 700;
    font-size: 2em;
  }
  .item-about-me:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .item-about-me p {
    color: #585858;
    text-align: justify;
    margin: 7px auto;
    font-size: 1.2em;
  }
  .item-about-me img {
    max-width: 100%;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
