.galery {
  width: 100%;
  overflow-x: hidden;
}
.galery h2 {
  text-align: center;
  color: #2e2e2e;
  font-size: 2em;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-bottom: 15px;
}
.container-galery {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-template-areas:
    "item1 item2"
    "item5 item6"
    "item3 item4"
    "item7 item8"
    "item9 item10"
    "item11 item12";
  gap: 12px;
  margin: 20px auto;
}
.item-galery button {
  display: block;
  width: 170px;
  background-color: #2e2e2e;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin: auto;
  border: none;
  padding: 12px;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.item-galery img {
  max-width: 100%;
}
.item-galery:nth-child(1) {
  grid-area: item1;
}
.item-galery:nth-child(2) {
  grid-area: item2;
}
.item-galery:nth-child(3) {
  grid-area: item3;
}
.item-galery:nth-child(4) {
  grid-area: item4;
}
.item-galery:nth-child(5) {
  grid-area: item5;
}
.item-galery:nth-child(6) {
  grid-area: item6;
}
.item-galery:nth-child(7) {
  grid-area: item7;
}
.item-galery:nth-child(8) {
  grid-area: item8;
}
.item-galery:nth-child(9) {
  grid-area: item9;
}
.item-galery:nth-child(10) {
  grid-area: item10;
}
.item-galery:nth-child(11) {
  grid-area: item11;
}
.item-galery:nth-child(12) {
  grid-area: item12;
}
.modal-atractions {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.7s;
}
.modal-atractions.popup {
  transform: scale(1);
  transition: 0.7s;
}
.container-atractions {
  background-color: #fff;
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 5px solid #b18904;
}
.container-atractions h2 {
  font-size: 1.4em;
  margin: 0px auto;
}
.container-atractions p {
  font-size: 0.8em;
  text-align: justify;
  font-weight: 400;
}
.container-atractions a {
  display: block;
  margin: 7px auto;
  width: 170px;
  background-color: #b18904;
  text-align: center;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 7px;
  font-size: 1.1em;
  transition: 1s;
}
@media (min-width: 768px) {
  .container-atractions a {
    display: block;
    margin: 10px auto;
    width: 200px;
    background-color: #b18904;
    text-align: center;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
    font-size: 1.2em;
  }
  .galery h2 {
    text-align: center;
    color: #2e2e2e;
    font-size: 2.5em;
  }
  .container-galery {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
      "item1 item2 item3"
      "item5 item6 item7"
      "item4 item11 item12"
      "item8 item9 item10";
    gap: 12px;
    margin: 12px auto;
  }
  .item-galery img {
    max-width: 100%;
  }
  .item-galery:nth-child(1) {
    grid-area: item1;
  }
  .item-galery:nth-child(2) {
    grid-area: item2;
  }
  .item-galery:nth-child(3) {
    grid-area: item3;
  }
  .item-galery:nth-child(4) {
    grid-area: item4;
  }
  .item-galery:nth-child(5) {
    grid-area: item5;
  }
  .item-galery:nth-child(6) {
    grid-area: item6;
  }
  .item-galery:nth-child(7) {
    grid-area: item7;
  }
  .item-galery:nth-child(8) {
    grid-area: item8;
  }
  .item-galery:nth-child(9) {
    grid-area: item9;
  }
  .item-galery:nth-child(10) {
    grid-area: item10;
  }
  .item-galery:nth-child(11) {
    grid-area: item11;
  }
  .item-galery:nth-child(12) {
    grid-area: item12;
  }
  .container-atractions {
    background-color: #fff;
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    border: 5px solid #b18904;
  }
  .container-atractions h2 {
    font-size: 2em;
    margin: 0px auto;
  }
  .container-atractions p {
    font-size: 0.6em;
    text-align: justify;
    font-weight: 400;
  }
}
