a {
  cursor: pointer;
}

.navbar {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 998;
  transition: all 0.275s linear;
  backdrop-filter: blur(10px);
  background-color: #0e335296;
}
.navbar.back {
  background-color: #0e3352;
  transition: all 0.275s linear;
}
.container-navbar {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container img {
  width: 150px;
  height: 80px;
  object-fit: contain;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  z-index: 998;
}
.menu.open {
  visibility: visible;
}

.menu-top {
  background-color: #20649c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transform: translateX(-100%);
  transform-origin: center;
  transition: 0.5s;
  z-index: 999;
}
.menu-top.aparecer {
  transform: translateY(0);
  transition: 0.5s;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
}
.menu-middle {
  background-color: #1c9bbc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(100%);
  transition: 0.9s;
}
.menu-middle.left {
  transform: translateX(0);
  transition: 0.9s;
}
.menu-middle h2 {
  margin-top: 12px;
  color: #fff;
  font-size: 1.5em;
}
.menu-middle-submenu a {
  display: flex;
  background-color: #000;
  justify-content: space-evenly;
  text-align: center;
  width: 240px;
  padding: 10px;
  border-radius: 20px;
  color: #fff;

  margin: 12px auto;
}
.menu-middle-submenu a i {
  font-size: 1em;
}
.menu-middle-submenu a p {
  font-size: 0.7em;
}
.menu-down {
  background-color: #1cb3cb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transform: translateY(100%);
  transition: 1.2s;
}
.menu-down.up {
  transform: translateY(0);
  transition: 1.2s;
}
.redes-menu-down a {
  margin: 0 10px;
}
.redes-menu-down a i {
  font-size: 32px;
  color: #2e2e2e;
}
.menu-down h2 {
  color: #2e2e2e;
  font-weight: 500;
}
.menu .close {
  font-size: 35px;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999;
  cursor: pointer;
}
.menu-bar {
  width: 35px;
  height: 30px;
  position: relative;
  cursor: pointer;
}
.menu-bar span {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  display: block;
  position: absolute;
  background: #fff;
  transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
  transform-origin: 0px 100%;
}
.menu-bar span:nth-child(2) {
  top: calc(50% - 4px);
}

.menu-bar span:nth-child(3) {
  bottom: 4px;
}
.navbar-descktop {
  display: none;
}

@media (min-width: 768px) {
  .container-navbar {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-container img {
    width: 150px;
    height: 80px;
    object-fit: contain;
  }
  .menu-bar {
    width: 35px;
    height: 35px;
    position: relative;
  }

  .navbar-descktop {
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
  }
  .container-descktop {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
  }
  .nav-link {
    position: relative;
  }
  .nav-link a {
    font-size: 1.1em;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
  }
  .nav-link a::after {
    content: "";
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    transition: all 0.6s;
    will-change: width;
  }
  .nav-link a:hover::after {
    width: 100%;
    left: 0;
    transition: all 0.6s;
  }
  .btn-header-contacto {
    display: inline-block;
    width: 170px;
    background-color: #3488ce;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 12px;
  }
}
@media (min-width: 1024px) {
  .container-descktop {
    display: flex;
    gap: 15px;
  }
}
@media (min-width: 1180px) {
  .container-descktop {
    gap: 40px;
  }
}